* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%vw;
    height: 100%vh;
    background-color: darkviolet;
}
img {
    width: 350px;
    height: 300px;
    object-fit: contain;
    border: 2px solid white;

}

.immagine-1, .immagine-2, .immagine-3 {
    text-align: center;
}
